:root {
    --sidebar-background-color: #1E293B !important;
    --topbar-background-color: #0F172A !important;
}

/* Apply styles */
.fi-sidebar {
    background-color: var(--sidebar-background-color) !important;
}

.fi-topbar {
    background-color: var(--topbar-background-color) !important;
}
