/* custom css ne */
.fi-section {
    --tw-ring-opacity: 0 !important;
    border-width: 0 !important;
}

.fi-sidebar-nav {
    scrollbar-width: none;
}

.fi-main {
    scrollbar-width: none;
}

/* .fi-ta-cell {
    border-left: 1px solid rgba(229, 231, 235, 1);
    border-right: 1px solid rgba(229, 231, 235, 1);
}

.fi-ta-header-cell {
    border-left: 1px solid rgba(229, 231, 235, 1);
    border-right: 1px solid rgba(229, 231, 235, 1);
} */